<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.microservice.invoice.mapper.InvoiceRecordMapper">

    <!-- 开票记录列表查询结果映射 -->
    <resultMap id="InvoiceRecordListVOMap" type="com.microservice.invoice.vo.InvoiceRecordListVO">
        <id column="id" property="id"/>
        <result column="order_code" property="orderCode"/>
        <result column="user_id" property="userId"/>
        <result column="merchant_id" property="merchantId"/>
        <result column="invoice_flag" property="invoiceFlag"/>
        <result column="invoice_type" property="invoiceType"/>
        <result column="buyer_name" property="buyerName"/>
        <result column="total_amount" property="totalAmount"/>
        <result column="total_tax" property="totalTax"/>
        <result column="total_amount_with_tax" property="totalAmountWithTax"/>
        <result column="drawer_name" property="drawerName"/>
        <result column="invoice_status" property="invoiceStatus"/>
        <result column="invoice_no" property="invoiceNo"/>
        <result column="invoice_code" property="invoiceCode"/>
        <result column="invoice_date" property="invoiceDate"/>
        <result column="error_msg" property="errorMsg"/>
        <result column="retry_count" property="retryCount"/>
        <result column="pdf_url" property="pdfUrl"/>
        <result column="sjly" property="sjly"/>
        <result column="ofd_url" property="ofdUrl"/>
        <result column="ewm_url" property="ewmUrl"/>
        <result column="xml_url" property="xmlUrl"/>
        <result column="created_time" property="createdTime"/>
        <result column="updated_time" property="updatedTime"/>
    </resultMap>

    <!-- 分页查询开票记录列表 -->
    <select id="selectInvoiceRecordPage" resultMap="InvoiceRecordListVOMap">
        SELECT
            id,
            order_code,
            user_id,
            merchant_id,
            invoice_flag,
            invoice_type,
            buyer_name,
            total_amount,
            total_tax,
            total_amount_with_tax,
            drawer_name,
            invoice_status,
            invoice_no,
            invoice_code,
            invoice_date,
            error_msg,
            retry_count,
            pdf_url,
            sjly,
            ofd_url,
            ewm_url,
            xml_url,
            created_time,
            updated_time
        FROM invoice_record
        <where>
            deleted = 0
            <if test="queryVO.userId != null">
                AND user_id = #{queryVO.userId}
            </if>
            <if test="queryVO.merchantId != null">
                AND merchant_id = #{queryVO.merchantId}
            </if>
            <if test="queryVO.orderCode != null and queryVO.orderCode != ''">
                AND order_code LIKE CONCAT('%', #{queryVO.orderCode}, '%')
            </if>
            <if test="queryVO.invoiceNo != null and queryVO.invoiceNo != ''">
                AND invoice_no LIKE CONCAT('%', #{queryVO.invoiceNo}, '%')
            </if>
            <if test="queryVO.buyerPhone != null and queryVO.buyerPhone != ''">
                AND buyer_phone LIKE CONCAT('%', #{queryVO.buyerPhone}, '%')
            </if>
            <if test="queryVO.invoiceStatus != null and queryVO.invoiceStatus != ''">
                AND invoice_status = #{queryVO.invoiceStatus}
            </if>
            <if test="queryVO.createTimeStart != null">
                AND DATE(created_time) &gt;= #{queryVO.createTimeStart}
            </if>
            <if test="queryVO.createTimeEnd != null">
                AND DATE(created_time) &lt;= #{queryVO.createTimeEnd}
            </if>
            <if test="queryVO.invoiceDateStart != null">
                AND invoice_date &gt;= #{queryVO.invoiceDateStart}
            </if>
            <if test="queryVO.invoiceDateEnd != null">
                AND invoice_date &lt;= #{queryVO.invoiceDateEnd}
            </if>
            <!-- 默认查询3个月内的数据，如果没有指定创建时间范围 -->
            <if test="queryVO.createTimeStart == null and queryVO.createTimeEnd == null">
                AND created_time &gt;= DATE_SUB(CURDATE(), INTERVAL 3 MONTH)
            </if>
        </where>
        <choose>
            <when test="queryVO.sortBy != null and queryVO.sortBy != ''">
                ORDER BY 
                <choose>
                    <when test="queryVO.sortBy == 'orderCode'">order_code</when>
                    <when test="queryVO.sortBy == 'userId'">user_id</when>
                    <when test="queryVO.sortBy == 'merchantId'">merchant_id</when>
                    <when test="queryVO.sortBy == 'buyerName'">buyer_name</when>
                    <when test="queryVO.sortBy == 'totalAmount'">total_amount</when>
                    <when test="queryVO.sortBy == 'totalAmountWithTax'">total_amount_with_tax</when>
                    <when test="queryVO.sortBy == 'invoiceStatus'">invoice_status</when>
                    <when test="queryVO.sortBy == 'invoiceDate'">invoice_date</when>
                    <when test="queryVO.sortBy == 'createdTime'">created_time</when>
                    <when test="queryVO.sortBy == 'updatedTime'">updated_time</when>
                    <otherwise>created_time</otherwise>
                </choose>
                <choose>
                    <when test="queryVO.sortOrder == 'asc'">ASC</when>
                    <otherwise>DESC</otherwise>
                </choose>
            </when>
            <otherwise>
                ORDER BY created_time DESC
            </otherwise>
        </choose>
    </select>

</mapper>